.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons {
    position: relative;
}

.screen-header__icons span {
    margin-left: 25px;
}

.settings__updated {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 22px;
}


@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg)
    }
}
.screen-header__icons .fa-cog:hover {
    animation: rotateCog 3s linear infinite;
}